@import url('https://fonts.googleapis.com/css?family=Karla');

.App {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Karla', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.scrollarea-outer {
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  .scrollarea-inner {
    width: 247.3vw;
    height: 100%;
    display: flex;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.device-wrapper {
  width: 100%;
  height: 100%;
  font-size: 2.3vh;
  line-height: 3.8vh;

  .scrollbar {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 25vw;
    height: .26vh;
    background-color: #181818;
  }
}


.portrait {
  .scrollarea-inner {
    width: 485.8vw;
  }
}

.mobile {
  .scrollarea-inner {
    width: 100vw;
    flex-direction: column;
  }

  &.device-wrapper {
    height: 100%;
    font-size: 18px;
    line-height: 30px;
  }

  .App {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  body {
    height: auto;

    &::-webkit-scrollbar {
      width: auto;
      height: auto;
    }
  }
}