@import url('https://fonts.googleapis.com/css?family=Karla');

.App {
  width: 100%;
  height: 100%;
  display: flex;
}

#root {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Karla', sans-serif;
  font-size: 2.3vh;
  line-height: 3.8vh;
  scroll-behavior: smooth;
}

body {
  width: calc(250vw - 30px);
  height: 100%;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}


.device-wrapper {
  height: 100%;
  font-size: 2.3vh;
  line-height: 3.8vh;
}

.mobile {
  width: 100vw;

  &.device-wrapper {
    height: 100%;
    font-size: 18px;
    line-height: 30px;
  }

  .App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  body {
    width: 100%;
    height: auto;

    &::-webkit-scrollbar {
      width: auto;
      height: auto;
    }
  }
}